In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

CREAMOS LA BASE DE DATOS

In [2]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE proyecto_peliculas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

CREAMOS LAS TABLAS

Tabla: Detalles de peliculas

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE detalles_peliculas (Pelicula_id VARCHAR (50) PRIMARY KEY,  Nombre VARCHAR(100), Director VARCHAR(50), Guionista VARCHAR (250), Argumento TEXT, Duración MEDIUMINT, Puntuación_IMDb FLOAT, puntuacion_rt FLOAT)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

1050 (42S01): Table 'detalles_peliculas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'detalles_peliculas' already exists

Tabla: Premios Oscar

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE premios_oscar (oscar_id SMALLINT AUTO_INCREMENT PRIMARY KEY, fecha_ceremonia YEAR, mejor_pelicula VARCHAR(100), mejor_director VARCHAR(50), mejor_actor VARCHAR(50), mejor_actriz VARCHAR(50))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'premios_oscar' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'premios_oscar' already exists

Tabla: Generos

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE generos (genero_id SMALLINT AUTO_INCREMENT PRIMARY KEY, nombre_genero VARCHAR (30))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'generos' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'generos' already exists

Tabla: Peliculas

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas (Tipo  VARCHAR (30), Género  VARCHAR (30), Título VARCHAR(255), Mes SMALLINT, Año INT, ID_IMDB VARCHAR(255) PRIMARY KEY )")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas (Tipo  VARCHAR (3..

Tabla: Peliculas_Genero

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas_generos (ID_IMDB VARCHAR(255), genero_id SMALLINT, FOREIGN KEY (ID_IMDB) REFERENCES peliculas(ID_IMDB), FOREIGN KEY (genero_id) REFERENCES generos(genero_id))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas_generos (ID_IMDB ..

INSERTAR DATOS EN LAS TABLAS

CONSULTAS: ¿directamente en MySQL?

In [ ]:
###### ESTRUCTURA DE LAS QUERIES ####

# cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
#                               host='127.0.0.1',
#                               database='proyecto_peliculas')

# # iniciamos el cursor                               
# mycursor = cnx.cursor()

# # query de ejemplo:

# query = ("""SELECT        """)

# # luego llamamos al método execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
# ## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenará en el cursor.
# mycursor.execute(query)