PROPUESTA INICIAL DE TABLAS Y COLUMNAS MYSQL

Películas:

1. ID_Pelicula (clave primaria)
2. Tipo (película o cortometraje)
3. Nombre
3. Year_Estreno
4. Mes_Estreno
5. ID_IMDB (identificación en IMDB)



Detalles_Películas:

1. ID_Detalle (clave primaria)
2. ID_Pelicula (clave foránea que hace referencia a la tabla Películas)
3. Puntuacion_IMDB
4. Puntuacion_Rotten_Tomatoes
5. Director
6. Guionistas
7. Argumento
8. Duracion



Actores/Actrices:

1. ID_Actore (clave primaria)
2. Nombre
2. Year_Nacimiento
3. Conocide_Por
4. Actividad
5. Premios



Peliculas_Actores:

1. ID_Pelicula (clave foránea que hace referencia a la tabla Peliculas)
2. ID_Actor (clave foránea que hace referencia a la tabla Actores)



Premios_Oscar:

1. ID_Premio (clave primaria)
2. Year_Ceremonia
3. Mejor_pelicula
4. Mejor_director
5. Mejor_actor
6. Mejor_actriz

In [ ]:
-- Crear el esquema
CREATE SCHEMA IF NOT EXISTS BHOMovies;

-- Usar el esquema
USE BHOMovies;

-- Crear la tabla Películas
CREATE TABLE Peliculas (
    ID_Pelicula INT PRIMARY KEY,
    Tipo VARCHAR(20),
    Nombre VARCHAR(255),
    Year_Estreno INT,
    Mes_Estreno INT,
    ID_IMDB VARCHAR(50)
);

-- Crear la tabla Detalles_Películas
CREATE TABLE Detalles_Peliculas (
    ID_Detalle INT PRIMARY KEY,
    ID_Pelicula INT,
    Puntuacion_IMDB FLOAT,
    Puntuacion_Rotten_Tomatoes INT,
    Director VARCHAR(255),
    Guionistas VARCHAR(255),
    Argumento TEXT,
    Duracion INT,
    FOREIGN KEY (ID_Pelicula) REFERENCES Peliculas(ID_Pelicula)
);

-- Crear la tabla Actores/Actrices
CREATE TABLE Actores (
    ID_Actore INT PRIMARY KEY,
    Nombre VARCHAR(255),
    Year_Nacimiento INT,
    Conocide_Por VARCHAR(255),
    Actividad VARCHAR(255),
    Premios VARCHAR(255)
);

-- Crear la tabla Peliculas_Actores
CREATE TABLE Peliculas_Actores (
    ID_Pelicula INT,
    ID_Actor INT,
    FOREIGN KEY (ID_Pelicula) REFERENCES Peliculas(ID_Pelicula),
    FOREIGN KEY (ID_Actor) REFERENCES Actores(ID_Actore),
    PRIMARY KEY (ID_Pelicula, ID_Actor)
);

-- Crear la tabla Premios_Oscar
CREATE TABLE Premios_Oscar (
    ID_Premio INT PRIMARY KEY,
    Year_Ceremonia INT,
    Mejor_pelicula VARCHAR(255),
    Mejor_director VARCHAR(255),
    Mejor_actor VARCHAR(255),
    Mejor_actriz VARCHAR(255)
);