In [16]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\silvi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.11.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 12.0 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   --------------------------------------- 292.8/292.8 kB 18.8 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.30
Note: you may need to restart the kernel to use updated packages.

CREAMOS LA BASE DE DATOS

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE proyecto_peliculas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

MySQLCursor: CREATE DATABASE proyecto_peliculas

CREAMOS LAS TABLAS

Tabla: Detalles de peliculas

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE detalles_peliculas (Pelicula_id VARCHAR (50) PRIMARY KEY,  Nombre VARCHAR(100), Director VARCHAR(50), Guionista VARCHAR (250), Argumento TEXT, Duración MEDIUMINT, Puntuación_IMDb FLOAT, puntuacion_rt FLOAT)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

1050 (42S01): Table 'detalles_peliculas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'detalles_peliculas' already exists

Tabla: Premios Oscar

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE premios_oscar (oscar_id SMALLINT AUTO_INCREMENT PRIMARY KEY, fecha_ceremonia YEAR, mejor_pelicula VARCHAR(100), mejor_director VARCHAR(50), mejor_actor VARCHAR(50), mejor_actriz VARCHAR(50))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'premios_oscar' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'premios_oscar' already exists

Tabla: Generos

In [6]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE generos (genero_id SMALLINT AUTO_INCREMENT PRIMARY KEY, nombre_genero VARCHAR (30))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'generos' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'generos' already exists

Tabla: Peliculas

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas (Tipo  VARCHAR (30), Género  VARCHAR (30), Título VARCHAR(255), Mes SMALLINT, Año INT, ID_IMDB VARCHAR(255) PRIMARY KEY )")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas (Tipo  VARCHAR (3..

Tabla: Peliculas_Genero

In [11]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas_generos (ID_IMDB VARCHAR(255), genero_id SMALLINT, FOREIGN KEY (ID_IMDB) REFERENCES peliculas(ID_IMDB), FOREIGN KEY (genero_id) REFERENCES generos(genero_id))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas_generos (ID_IMDB ..

INSERTAR DATOS EN LAS TABLAS

In [7]:
from sqlalchemy import create_engine

Datos Tabla: Peliculas

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('peliculas', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos Tabla: Premios Oscar

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\BEAUTIFULSOUP\CSVs\oscars.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('premios_oscar', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

Datos Tabla: Detalles Pelis

In [14]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\SELENIUM\CSVs\FASE-2-Resultados-IMDB.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('detalles_peliculas', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

Datos Tabla: Generos

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "INSERT INTO generos (nombre_genero) VALUES (%s)"
val = [
    ("Acción",
     "Comedia",
     "Drama")]
try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)  


#FINALMENTE SE HIZO DIRECTAMENTE DESDE MYSQL CON EL CODIGO DEL MARKDOWN DE ABAJO

Not all parameters were used in the SQL statement
Error Code: -1
SQLSTATE None
Message Not all parameters were used in the SQL statement

INSERT INTO generos (nombre_genero)
VALUES ('Accion'),
	   ('Comedia'),
	   ('Drama');

CONSULTAS: ¿directamente en MySQL?

In [1]:
###### ESTRUCTURA DE LAS QUERIES ####

# cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
#                               host='127.0.0.1',
#                               database='proyecto_peliculas')

# # iniciamos el cursor                               
# mycursor = cnx.cursor()

# # query de ejemplo:

# query = ("""SELECT        """)

# # luego llamamos al método execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
# ## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenará en el cursor.
# mycursor.execute(query)

Desconexion

In [ ]:
# config = {
#   'user': 'root',
#   'password': 'AlumnaAdalab',
#   'host': '127.0.0.1',
#   'database': 'tienda',
#   'raise_on_warnings': True
# }

# cnx = mysql.connector.connect(**config)

# cnx.close()