In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE proyecto_peliculas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE proyecto_peliculas

CREAMOS LAS TABLAS

Tabla: Detalles de peliculas

In [9]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE detalles_peliculas (pelicula_id INT PRIMARY KEY,  nombre VARCHAR(100), director VARCHAR(50), guionistas VARCHAR (250), argumento TEXT, duracion MEDIUMINT, puntuacion_imdb FLOAT, puntuacion_rt FLOAT)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE detalles_peliculas (pelicul..

Tabla: Premios Oscar

In [11]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE premios_oscar (oscar_id SMALLINT AUTO_INCREMENT PRIMARY KEY, fecha_ceremonia YEAR, mejor_pelicula VARCHAR(100), mejor_director VARCHAR(50), mejor_actor VARCHAR(50), mejor_actriz VARCHAR(50))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE premios_oscar (oscar_id SMA..

Tabla: Generos

In [13]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE generos (genero_id SMALLINT AUTO_INCREMENT PRIMARY KEY, nombre_genero VARCHAR (30),)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE generos (genero_id SMALLINT..

INSERTAR DATOS EN LAS TABLAS

CONSULTAS: ¿directamente en MySQL?

In [1]:
###### ESTRUCTURA DE LAS QUERIES ####

# cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
#                               host='127.0.0.1',
#                               database='proyecto_peliculas')

# # iniciamos el cursor                               
# mycursor = cnx.cursor()

# # query de ejemplo:

# query = ("""SELECT        """)

# # luego llamamos al método execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
# ## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenará en el cursor.
# mycursor.execute(query)